body { background-color:#D9D9D9}
td {background-color:#EEEEEE}
.icon32 {vertical-align:middle;}
.icon64 {vertical-align:middle;}
.perfect {background-color:green;}
#priceheader {margin-top:0;margin-bottom:0;text-align:center; width:100%;font-size:1.875em;cursor:move}
td.textright {text-align: right;}
